:root {
    --smallMargin: 1%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}

/* ------------- BULLETED LIST STYLES ------------ */

.bulletList {
    display: block;
    padding-left: 8px;
}

.bulletList p {
    text-align: left;
}

.bulletList p::before {
    content: '•';
}

/* --- */

/* ------------- CSS CLASS STYLES ---------------- */

input {
    height: 20px;
}

textarea {
    width: 100%;
    height: auto;
}

/* --- */

/* ------------- CONTAINER STYLES ---------------- */

.loginContainer {
    background-color: white;
    margin: 2%;
}

.mainContainer {
    background-color: white;
    position: fixed;
    top: 10%;
    height: 85%;
    margin: 2%;
    width: 96%;
    overflow: auto;
}

.fileAccessContainer {
    background-color: white;
    position: relative;
    top: 0%;
    height: 100px;
    width: 100%;
    overflow: auto;
}

.postFileAccessContainer {
    background-color: white;
    position: relative;
    top: 0%;
    height: calc(90% - 100px);
    width: 96%;
    overflow-y: auto;
}

/* --- */

/* ------------- ERROR DISPLAY STYLES ------------ */

.errorP {
    color: rgb(245, 10, 10);
    font-weight: bold;
}

/* --- */

/* ------------- FLEX DISPLAY STYLES ------------- */

.flexDivColumns {
    display: flex;
    flex-direction: column;
}

.flexDivRows {
    display: flex;
    flex-direction: row;
    align-items: center stretch;
    max-width: 100%;
    flex-wrap: wrap;
}

.flexDivTable {
    display: table;
}

.flexDivTable .flexDivColumns {
    display: table-cell;
}

.flexDivTable .flexDivRows {
    display: table-row;
}

/* --- */

/* ------------- FILE ACCESS STYLES -------------- */

input:focus+.moreRightLink .moreRight {
    display: block;
}

input:not(:focus)+.moreRightLink {
    display: none;
}

.moreRightLink {
    position: relative;
    cursor: pointer;
}

.moreRightLink::before {
    content: "►";
}

.moreRight {
    display: none;
    position: absolute;
    left: 100%;
    top: 0%;
    cursor: pointer;
    background-color: white;
    z-index: 1;
}

/* --- */

/* ------------- MORE INFO STYLES ---------------- */

.more {
    display: none;
    position: absolute;
    left: 0%;
    background-color: white;
    z-index: 1;
}

.moreLink:hover .more {
    display: block;
}

/* --- */

/* ------------- OVERLAY STYLES ------------------ */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.overlay>* {
    background-color: white;
    align-items: center;
    word-break: break-word;
    width: 80vw;
}

/* --- */

/* ------------- SIZED INPUT STYLES -------------- */

.fourDigitInput {
    width: 40px;
}

.twoDigitInput {
    width: 20px;
}

/* --- */

/* ------------- STICKY HEADER STYLES ------------ */

.stickyHeader {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: lightblue;
}

.stickyHeader button {
    margin-left: var(--smallMargin);
    margin-right: var(--smallMargin);
}

.stickyHeader>button:first-child {
    margin-left: 0;
}

.stickyHeader>button:last-child {
    margin-right: 0;
}

/* --- */
