:root {
    --smallMargin: 1%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}

.bulletList {
    display: block;
    padding-left: 16px;
}

.bulletList p::before {
    content: '•';
}

.errorP {
    color: rgb(245, 10, 10);
    font-weight: bold;
}

.errorPopup {
    display: none;
    color: rgb(245, 10, 10);
    font-weight: bold;
    white-space: pre-wrap;
}

.flexDivColumns {
    display: flex;
    flex-direction: column;
}

.flexDivRows {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.flexDivRows> :first-child {
    margin-left: var(--smallMargin);
    margin-right: var(--smallMargin);
}

.flexDivRows> :last-child {
    margin-left: 0;
}

.flexDivRows> :not(:first-child):not(:last-child) {
    margin-right: 0;
}

.flexDivTable {
    display: table;
}

.flexDivTable .flexDivColumns {
    display: table-cell;
}

.flexDivTable .flexDivRows {
    display: table-row;
}

input {
    height: 20px;
}

.loginContainer {
    background-color: white;
    margin: 2%;
}

.mainContainer {
    background-color: white;
    position: fixed;
    top: 10%;
    margin: 2%;
    width: 96%;
}

.popup {
    font-weight: bold;
    white-space: pre-wrap;
}

.stickyHeader {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: lightblue;
}

.stickyHeader button {
    margin-left: var(--smallMargin);
    margin-right: var(--smallMargin);
}

.stickyHeader> button:first-child {
    margin-left: 0;
}

.stickyHeader> button:last-child {
    margin-right: 0;
}

textarea {
    width: 100%;
    height: auto;
}